<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Player Characters</h1>
    <% if (characters){ %>
        <ol>
        <ul>
          <ls>Name</ls>
          <ls>Class</ls>
          <ls>Level</ls>
          <ls>Race</ls>
        </ul>
      <% characters.forEach(char => { %>
        <a href='/char/<%= char._id %>'>
        <ul>
          <ls><%= char.name %></ls>
          <ls><%= char.class[0] %></ls>
          <ls><%= char.level %></ls>
          <ls><%= char.race %></ls>
        </ul>
        </a>
  <% }) %>
      </ol>
<% }else { %>
  <p>No Characters Here</p>
<% } %>
  <a href='/char/new'>Add a Character</a>
  <a href='/dm'>Show Dungeon Masters</a>
  <a href='/dm/new'>Add Dungeon Master</a>
  </body>
</html>
