<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= char.name %></h1>
    <p><%= char.level %></p>
    <p><%= char.specialization %></p>
    <p><%= char.personality %></p>
    <p><%= char.flaw %></p>
    <p><%= char.background %></p>
    <p><%= char.appearance %></p>
    <p><%= char.relations %></p>
    <a href='/'>All Characters</a>
    <a href='/char/new'>Add a Character</a>
    <a href='/dm'>Show Dungeon Masters</a>
    <a href='/dm/new'>Add Dungeon Master</a>
</body>
</html>